// Body
$body-bg: #f66d9b;

// Typography
$font-family-sans-serif: 'Noto Kufi Arabic';
$font-family-text: 'Noto Kufi Arabic';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #5718c4;
$btn-border-radius: 0;
$card-border-width: 0;
$card-border-radius: 0;
$warning: #f28406;
$link-color: #000;
$input-border-radius: 0;